.accent-background {
    background: rgb(0, 117, 111);
}

.accent-background:hover {
    background: rgb(0, 92, 86);   
}

.accent-color {
    color: rgb(0, 92, 86);
}

.main-section {
    padding-top: 15px;
}

.off-canvas-wrap {
    overflow: visible;
}

.off-canvas-wrap,.inner-wrap{
    height:100%;   
}

.top-bar .name h1 {
    font-family: 'Open Sans';
    font-weight: 700;
}

.top-bar, .tab-bar {
    background: rgb(0, 117, 111);
}

.left-small {
    border-right-color: rgb(0, 92, 86);
}

.right-small {
    border-left-color: rgb(0, 92, 86);
}

.left-off-canvas-menu {
 background: rgb(0, 92, 86);   
}

.top-bar-section li:not(.has-form) a:not(.button),
ul.off-canvas-list li a {
    background: rgb(0, 117, 111);
    color: white;
    border-bottom-color: rgb(0, 92, 86);
}

ul.off-canvas-list li label {
    background: rgb(0, 92, 86);
    border-top-color: rgb(0, 92, 86);
    color: white;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
ul.off-canvas-list li.active a {
    background: #333;
}

.tab-bar .back-icon {
    text-indent: 2.1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    line-height: 2.0625rem;
    padding: 0;
    color: white;
    position: relative;
}

.fbphoto {
    display: inline-block;
    margin: 15px;
}

.tab-content {
    margin-top: 20px;
}

.btn-row {
    margin-top: 15px !important;
}

.nav li {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 5px;
}
.panel-heading {
    background-color: rgb(0, 117, 111) !important;
    color: white !important;
}
.nav li > a {
    color: rgb(0, 117, 111);
}

.nav-pills > li.active > a {
    background-color: rgb(0, 117, 111);
}

.nav-pills > li.active > a:hover {
    background-color: rgb(0, 117, 111);
}

.tab-pane {
    text-align: left;
}

.tab-pane > p {
    color: #686a6e;
    font-style: italic;
}

a {
    color: rgb(0, 117, 111);
}

.preference-heading{
    background-color: rgb(0, 117, 111);
}

.modal-title {
    color: rgb(0, 117, 111);
    font-family: 'Oswald';
    text-transform: uppercase;
}

#myModalLabel em {
    color: #686a6e;
    font-size: 0.75em;
    font-family: 'Open Sans';
    text-transform: lowercase;
}

.modal-footer button {
    font-family: 'Open Sans';
    font-weight: 400;
}

.modal-footer > .btn-primary {
    background-color: rgb(0, 117, 111) !important;
    font-weight: 700;
    border-color: rgb(0, 117, 111);
}

.modal-body p {
    font-family: 'Open Sans';
    color: #686a6e;
}

.modal-body > h6 {
    color: rgb(0, 117, 111);
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
}

.modal-body > span {
    color: #686a6e !important;
}

.btn-info {
    color: #fff;
    background-color: rgb(0, 117, 111);
    border-color: rgb(0, 117, 111);
}

.st-content-inner {
    height: 90%;
    margin-top: 10px;
}

#fb_link {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#editor {
    text-align: left;
    max-height: 500px;
    height: 350px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
    color: #686a6e;
}

#editor img {
    max-width: 500px;
    max-height: 500px;
}

.thumbnail.selected {
    background-color: #428bca;
}
.loading {
    text-align: center;
}
.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*#user-quotes {
    width: 25%;
    display: block;
    text-align: justify;
    font-size: 1em;
    color: #686a6e;
    margin: 0 auto;
}*/

.business {
    text-align: center;
    display: inline-block;
    max-width: 500px;
    margin: 10px auto 10px auto;
}

.business p {
    margin-left: 5px;
}

.business:hover {
    cursor: pointer;
}

.business img {
    width: 100px;
    height: 100px;
}

.upcoming-events {
    width: 90%;
    margin: 0 auto;
    float: none;
}

.upcoming-events > h1 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5em;
    color: #686a6e;
    text-align: right;
    text-transform: uppercase;
}

.nothing-here {
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    color: #686a6e;
    font-style: italic;
}

.nothing-here h1 {
    font-size: 1.25em;
    font-family: 'Open Sans';
}

.sign-out {
    text-align: center;
    margin: 0 auto 10px auto;
}

.sign-out a {
    color: rgb(0, 117, 111);
}

.sign-out a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu_btn {
    background: rgb(0, 117, 111);
}

#menu_btn:hover {
    background: rgb(0, 117, 111);
}

.back_button {
    background: rgb(0, 117, 111);
}

.back_button:hover {
    background: rgb(0, 117, 111);
}

.st-menu {
    background: rgb(0, 117, 111);
}

.st-menu h2 {
    font-size: 1.5em !important;
}

.st-container {
    color: rgb(0, 117, 111);
}

#profile-pic {
    position: relative;
    width: 30%;
    padding-bottom: 0.1em;
}

#user-name {
    position: relative;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
}

.pin-div {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-top: 15%;
    width: 50%;
    left: 25%;
}

.pin-div h1 {
    font-weight: 300;
}

.create-div {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-top: 5%;
    width: 50%;
    left: 25%;
}

.create-div h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.journals {
    position: relative;
    /*height: 100%;*/
    margin: 15px 0 15px 0;
    visibility: hidden;
}

.journal.panel {
    background: white;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
}

/*.journal {
    border-bottom: 0.1em solid rgb(0, 117, 111);
    color: #000;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.journal h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(0, 117, 111);
}

.journal h6 {
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
}*/

.input-group {
    margin-top: 2em;
}

.input-group textarea {
    resize: none;
    width: 5px;
    height: 10em;
}

.preferences {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    margin-top: 5%;
    width: 75%;
}

.preferences h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}



/*----------------------------
	The Submit Button
-----------------------------*/
/*.pin-div form input[type=button]{
	
	border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px; color: #D3EBFF;
    cursor: pointer;
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    margin: 1em auto auto auto;
    color: #FFF;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background: rgb(0, 117, 111);
}

.pin-div form input[type=button]:hover{
    background: rgb(0, 104, 99);
}

.pin-div form input[type=button]:active{
    background: rgb(0, 104, 99);
}
.create-div form input[type=button]{

    border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px; color: #D3EBFF;
    cursor: pointer;
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    margin: 1em auto auto auto;
    color: #FFF;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background: rgb(0, 117, 111);
}

.create-div form input[type=button]:hover{
    background: rgb(0, 104, 99);
}

.create-div form input[type=button]:active{
    background: rgb(0, 104, 99);
}*/

.general-button {
    visibility: hidden;
}

.help_block {
    margin-left: 1em;
}

.help_block h1 {
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
}

.help_block p {
    color: #686a6e;
}

#invitations {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 40em) { 
    #invitations {
        border-bottom: 1px solid #CCC;
    }
}

.event {
    font-family: 'Open Sans';
    margin-bottom: 5px;
    border-left: 2px solid rgb(62, 129, 112);
    padding: 5px;
    cursor: pointer;
}

.event p {
    width: 100%;
    color: #686a6e;
    font-style: italic;
}

.event-name {
    font-family: 'Open Sans';
    font-weight: 700;
}

.event-name:after {
    content: ' - ';
}

.event-date {
    font-family: 'Open Sans';
    font-weight: 400;
}

.event-time:before {
    font-family: 'Open Sans';
    font-weight: 400;
    content: ' @ ';
}

.event-time {
    font-family: 'Open Sans';
    font-weight: 400;
}