.tab-content {
    margin-top: 20px;
}

.nav li {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 5px;
}
.panel-heading {
    background-color: rgb(0, 117, 111) !important;
    color: white !important;
}
.nav li > a {
    color: rgb(0, 117, 111);
}

.nav-pills > li.active > a {
    background-color: rgb(0, 117, 111);
}

.nav-pills > li.active > a:hover {
    background-color: rgb(0, 117, 111);
}

.tab-pane {
    text-align: left;
}

.tab-pane > p {
    color: #686a6e;
    font-style: italic;
}

a {
    color: rgb(0, 117, 111);
}

.preference-heading{
    background-color: rgb(0, 117, 111);;
}

.modal-title {
    color: rgb(0, 117, 111);
    font-family: 'Oswald';
    text-transform: uppercase;
}

#myModalLabel em {
    color: #686a6e;
    font-size: 0.75em;
    font-family: 'Open Sans';
    text-transform: lowercase;
}

.modal-footer button {
    font-family: 'Open Sans';
    font-weight: 400;
}

.modal-footer > .btn-primary {
    background-color: rgb(0, 117, 111) !important;
    font-weight: 700;
    border-color: rgb(0, 117, 111);
}

.modal-body p {
    font-family: 'Open Sans';
    color: #686a6e;
}

.modal-body > h6 {
    color: rgb(0, 117, 111);
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
}

.modal-body > span {
    color: #686a6e !important;
}

.btn-info {
    color: #fff;
    background-color: rgb(0, 117, 111);
    border-color: rgb(0, 117, 111);
}

.st-content-inner {
    height: 90%;
    margin-top: 10px;
}

#fb_link {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#editor {
    text-align: left;
    max-height: 500px;
    height: 350px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
    color: #686a6e;
}

#editor img {
    max-width: 500px;
    max-height: 500px;
}

.thumbnail.selected {
    background-color: #428bca;
}
.loading {
    text-align: center;
}
.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#user-quotes {
    width: 25%;
    display: block;
    text-align: justify;
    font-size: 1em;
    color: #686a6e;
    margin: 0 auto;
}

.business {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin: 10px auto 10px auto;
}

.business:hover {
    cursor: pointer;
}

.business figure {
    margin: 0 0 10px 0;
    overflow: hidden;
}

.business img {
    width: 90px;
    height: 90px;
    float: left;
}

figure p {
    height: 130px;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.business header {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    color: rgb(0, 117, 111);
}

.upcoming-events {
    width: 90%;
    margin: 0 auto;
    float: none;
}

.upcoming-events > h1 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5em;
    color: #686a6e;
    text-align: right;
    text-transform: uppercase;
}

.nothing-here {
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    color: #686a6e;
    font-style: italic;
}

.nothing-here h1 {
    font-size: 1.25em;
    font-family: 'Open Sans';
}

.sign-out {
    text-align: center;
    margin: 0 auto 10px auto;
}

.sign-out a {
    color: rgb(0, 117, 111);
}

.sign-out a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu_btn {
    background: rgb(0, 117, 111);
}

#menu_btn:hover {
    background: rgb(0, 117, 111);
}

.back_button {
    background: rgb(0, 117, 111);
}

.back_button:hover {
    background: rgb(0, 117, 111);
}

.st-menu {
    background: rgb(0, 117, 111);
}

.st-menu h2 {
    font-size: 1.5em !important;
}

.st-container {
    color: rgb(0, 117, 111);
}

#profile-pic {
    position: relative;
    width: 30%;
    left: 35%;
    margin: 1em auto 3em auto;
    padding-bottom: 0.1em;
}

#user-name {
    position: relative;
    border-top: 0.1em solid rgb(0, 117, 111);
    color: #000;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 50%;
    padding-top: 0.1em;
}

.pin-div {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-top: 15%;
    width: 50%;
    left: 25%;
}

.pin-div h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.create-div {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-top: 5%;
    width: 50%;
    left: 25%;
}

.create-div h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.journals {
    position: relative;
    height: 100%;
    visibility: hidden;
}

.journal {
    border-bottom: 0.1em solid rgb(0, 117, 111);
    color: #000;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.journal h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(0, 117, 111);
}

.journal h6 {
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
}

.input-group {
    margin-top: 2em;
}

.input-group textarea {
    resize: none;
    width: 5px;
    height: 10em;
}

.preferences {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    margin-top: 5%;
    width: 75%;
}

.preferences h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.ac-custom ul,
.ac-custon ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.ac-custom li {
    text-align: left;
    margin: 0 auto;
    padding: 2em 0;
    position: relative;
    background-color: rgb(0, 117, 111);
    border-bottom: 3px solid #FFF;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
	-webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 1%;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"] {
    opacity: 0;
	-webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}

.ac-custom label::before {
    content: '';
    border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label {
    color: #fff;
}

.ac-custom input[type="checkbox"]:checked + label::before {
    opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 49%;
	margin-top: -20px;
	left: 1.5%;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 10px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle label::before {
	background-color: #fff;
	border: none;
}

/*----------------------------
	The Submit Button
-----------------------------*/
.pin-div form input[type=button]{
	
	border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px; color: #D3EBFF;
    cursor: pointer;
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    margin: 1em auto auto auto;
    color: #FFF;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background: rgb(0, 117, 111);
}

.pin-div form input[type=button]:hover{
    background: rgb(0, 104, 99);
}

.pin-div form input[type=button]:active{
    background: rgb(0, 104, 99);
}
.create-div form input[type=button]{

    border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px; color: #D3EBFF;
    cursor: pointer;
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    margin: 1em auto auto auto;
    color: #FFF;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background: rgb(0, 117, 111);
}

.create-div form input[type=button]:hover{
    background: rgb(0, 104, 99);
}

.create-div form input[type=button]:active{
    background: rgb(0, 104, 99);
}

.general-button {
    visibility: hidden;
}

.help_block {
    margin-left: 1em;
}

.help_block h1 {
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
}

.help_block p {
    color: #686a6e;
}

.event {
    font-family: 'Open Sans';
    height: 50px;
    background: #f6f6f6;
    margin-bottom: 5px;
    border-left: 2px solid rgb(62, 129, 112);
    padding: 5px;
    cursor: pointer;
}

.event p {
    overflow: hidden;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #686a6e;
    font-style: italic;
}

.event-name {
    font-family: 'Open Sans';
    font-weight: 700;
}

.event-name:after {
    content: ' - ';
}

.event-date {
    font-family: 'Open Sans';
    font-weight: 400;
}

.event-time:before {
    font-family: 'Open Sans';
    font-weight: 400;
    content: ' @ ';
}

.event-time {
    font-family: 'Open Sans';
    font-weight: 400;
}
/* -------------------------------------------------------------
======	MEDIA QUERIES
------------------------------------------------------------- */

/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 13 / 780 */
    #user-name {
        border-top: 0.1em solid rgb(0, 117, 111);
    }

    .pin-div input[type=button]{
        margin-top: 3em;
        width: 100%;
    }

    .pin-div form input[type=button]{
        width: 100%;
    }

    .create-div input[type=button]{
        margin-top: 3em;
        width: 100%;
    }

    .create-div form input[type=button]{
        width: 100%;
    }
}
    
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 13 / 624 */
    #user-name {
        font-size: 3em;
        border-top: 0.2em solid rgb(0, 117, 111);
    }

    .pin-div h1 {
        font-size: 2em !important;    
    }
	
	.pin-div input[type=button]{
	    margin-top: 3em;
		width: 100%;
	}

    .pin-div form input[type=button]{
        width: 100%;
    }

    .create-div h1 {
        font-size: 2em !important;
    }

    .create-div input[type=button]{
        margin-top: 3em;
        width: 100%;
    }

    .create-div form input[type=button]{
        width: 100%;
    }
    
    .preferences {
        width: 90%;
    }

    .ac-custom label {
        font-size: 1.5em;
        padding: 0 0 0 70px;
    }

    .ac-custom input[type="checkbox"],
    .ac-custom label::before {
	    width: 40px;
	    height: 40px;
	    left: 10px;
	    margin-top: -15px;
    }

    .ac-custom label::before {
        border: 2px solid #fff;
    }

    /* General SVG and path styles */

    .ac-custom svg {
	    width: 40px;
	    height: 40px;
	    left: 12px;
	    margin-top: -15px;
    }

    .ac-custom svg path {
	    stroke-width: 6px;
    }

    .pin-div {
        width: 90%;
        left: 5%;
    }
}
    
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 13 / 390 */
    #user-name {
        width: 75%;
        font-size: 2em;
        border-top: 0.3em solid rgb(0, 117, 111);
    }

	.pin-div form input[type=button]{
		width: 100%;
		margin-top: 0.5em;
	}

    .create-div form input[type=button]{
        width: 100%;
        margin-top: 0.5em;
    }
    
    .preferences {
        width: 90%;
    }

    .ac-custom label {
        font-size: 1em;
        padding: 0 10px 0 70px;
    }

    .ac-custom input[type="checkbox"],
    .ac-custom label::before {
	    width: 30px;
	    height: 30px;
	    left: 10px;
	    margin-top: -15px;
    }

    .ac-custom label::before {
        border: 2px solid #fff;
    }

    /* General SVG and path styles */

    .ac-custom svg {
	    width: 30px;
	    height: 30px;
	    left: 12px;
	    margin-top: -15px;
    }

    .ac-custom svg path {
	    stroke-width: 6px;
    }

    .pin-div form input[type=button]{
        width: 100%;
    }

    .create-div form input[type=button]{
        width: 100%;
    }

    .pin-div {
        width: 90%;
        left: 5%;
    }

    .create-div {
        width: 90%;
        left: 5%;
    }
}