#event-phone {
    padding: 0;
}

.input-note {
    font-size: 12px;
}

.margin-top {
    margin-top: 15px;
}

/**
 * The days on the calendar
 */

.picker__day--today {
    color: rgb(62, 129, 112);
}
.picker__day--today:before {
    border-top: 0.5em solid rgb(49, 102, 89);
}
.picker__day--selected,
.picker__day--selected:hover {
    border-color: rgb(62, 129, 112);
}
.picker__day--highlighted {
    background: rgba(62, 129, 112, 0.5);
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    background: rgba(62, 129, 112, 0.5);
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    background: rgb(62, 129, 112);
    color: #ffffff;
}

/**
 * The footer containing the "today" and "clear" buttons.
 */

.picker__button--today:hover,
.picker__button--clear:hover {
    cursor: pointer;
    color: #000000;
    background: rgba(62, 129, 112, 0.5);
    border-bottom-color: rgba(62, 129, 112, 0.5);
}
.picker__button--today:focus,
.picker__button--clear:focus {
    background: rgba(62, 129, 112, 0.5);
    border-color: rgb(62, 129, 112);
    outline: none;
}
.picker__button--today:before {
    border-top: 0.66em solid rgb(49, 102, 89);
}

/* Hovered time */
.picker__list-item:hover {
    cursor: pointer;
    color: #000000;
    background: rgba(62, 129, 112, 0.5);
    border-color: rgb(62, 129, 112);
    z-index: 10;
}
/* Selected time */
.picker__list-item--selected,
.picker__list-item--selected:hover {
    border-color: rgb(62, 129, 112);
    z-index: 10;
}
/* Highlighted time */
.picker__list-item--highlighted {
    background: rgba(62, 129, 112, 0.5);
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
    background: rgb(62, 129, 112);
    color: #ffffff;
}