#narrator {
    max-width: 15%;
    max-height: 15%;
    min-width: 10%;
    min-height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
    border:none;
}

body {
	overflow: hidden;
}

#container {
    height: 90%;
    overflow: hidden;

}
#narrator-img {
    max-width: 100%;
    max-height: 100%;
    min-width: 10%;
    min-height: 10%;
}
#narrator-speech {
    z-index: 1;
}
.bubble {
    position: absolute;
    background-color: white;
    margin-bottom: 0%;
    margin-left: 10%;
    padding: 10px;
    text-align: center;
    width: 75%;
    height: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    color: rgb(102, 147, 124);
    z-index: 10;
    bottom: 10%;
    left: 10%;
    border-color: rgb(102, 147, 124);
    border: 3px;
    border-style: solid;
}
.bubble p{
    color:black;
    height: 20px;
    margin: -5px;
}
.bubble:after {
    display: block;
    content: "";
    border-color: transparent rgb(102, 147, 124) transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 2px;
    left: -21px;
}
.details-page{
    /*display: none;*/
}


#tabs{
    display: inline-block;
}
.tabs{
    width: 70%;
    margin: 0 auto;
}

.tab-content {
    height: 100%;
}
.nav li {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    margin-right: 5px;
}

.nav-pills > li.active > a {
    background-color: rgb(102, 147, 124);
}

.nav-pills > li.active > a:hover {
    background-color: rgb(102, 147, 124);
}

#mega-deal{
    text-align: center;
    color: #000000;
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.done-btn {
    background-color:  rgb(102, 147, 124);
    margin: 10px;
    color: #ffffff;
}
#mega-deal-btn{
    width: 50%;
}
#title{
    font-size: 30px;
}
#disclaimer {
    font-weight: bold;
}

#members-only {
    text-align: center;
    color: black;
    margin-top: 20%;
}

.cbp-fwslider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 60px;
    height: 100%;
    z-index: 0;
}

.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
    height: 200%;
}

.cbp-fwslider ul li {
/*    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);*/
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: none;
    max-width: 90%;
    margin-left: 9%;
    margin-right: auto;
}

.cbp-fwslider ul li div > img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 50%;
}

video {
	width: 100% !important;
	height: 70vh !important;	
}

.cbp-fwslider nav {
    display: none;
}
.cbp-fwslider nav span {
    display: none;
    position: absolute;
    bottom: 0%;
    width: 50px;
    max-width:10%;
    height: 25px;
    background: rgb(102, 147, 124);
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
    line-height: 100px;
    cursor: pointer;
    font-weight: normal;
}

.cbp-fwslider nav span:hover {
    background: rgb(102, 147, 124);
}

.cbp-fwslider nav span.cbp-fwnext {
    right: 15%;
}

.cbp-fwslider nav span.cbp-fwprev {
    left: 15%;
}

.cbp-fwdots {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 50px;
}

.cbp-fwdots span {
    display: inline-block;
    width: 120px;
    height: 30px;
    background: rgb(102, 147, 124);
    margin: 4px;
    cursor: pointer;
    color: white;

    -webkit-box-shadow: 0px 9px 0px rgb(91, 131, 110), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(91, 131, 110), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(91, 131, 110), 0px 9px 25px rgba(0,0,0,.7);
    position: relative;
}

.cbp-fwdots span.cbp-fwcurrent {
    background: rgb(102, 147, 124);
    -webkit-box-shadow: 0px 3px 0px rgb(91, 131, 110), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(91, 131, 110), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(91, 131, 110), 0px 3px 6px rgba(0,0,0,.9);
    top: 6px !important;
/*    -webkit-transition: box-shadow 0.2s ease-in-out;*/
/*    -moz-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;*/
}

#side-btns{
    list-style: none;
    position: absolute;
    top: 10%;
    z-index: 1;
    margin: 0px;
    padding: 0;
}
#side-btns li button {
    display: inline-block;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border: 1px solid transparent;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    text-align: center;
    text-wrap: normal;
    margin-top: 10px;
    margin-left: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /*    position: relative;*/
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';

    display: block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
#side-btns li .home-btn{

    background: dodgerblue;
    color: white;
    text-shadow: 0 0 0.2em gold;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
/*    background: radial-gradient(deepskyblue, dodgerblue, dodgerblue);*/
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));*/
}

#side-btns li .home-btn:active {
    -webkit-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .home-btn.selected {
    -webkit-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .mega-btn{

    background: #E36E1B;
    color: white;
    text-shadow: 0 0 0.2em white;
    -webkit-box-shadow: 0px 9px 0px #B35715, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px #B35715, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px #B35715, 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
/*    background: radial-gradient(yellow, yellowgreen, limegreen);*/

}

#side-btns li .mega-btn:active {
    -webkit-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .mega-btn.selected {
    -webkit-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #B35715, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .members-btn{

    background: #62C24F;
    color: white;
    text-shadow: 0 0 0.2em white;
    -webkit-box-shadow: 0px 9px 0px  #4C963E, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px  #4C963E, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px  #4C963E 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
/*    background: radial-gradient(yellow, orange, darkorange);*/
}

#side-btns li .members-btn:active {
    -webkit-box-shadow: 0px 3px 0px #4C963E, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #4C963E, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #4C963E, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .members-btn .selected {
    -moz-box-shadow: 0px 3px 0px #4C963E, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #4C963E, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .fav-btn{

    background: #14BDE3;
    color: white;
    text-shadow: 0 0 0.2em white;
    font-size: 11px;
    -webkit-box-shadow: 0px 9px 0px #1095B3, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px #1095B3, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px #1095B3, 0px 9px 25px rgba(0,0,0,.7);
    text-align: center;
/*     background: radial-gradient(yellow, orange, darkorange);*/
}

#side-btns li .fav-btn:active {
    -webkit-box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .fav-btn.selected {
    -webkit-box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #1095B3, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

#side-btns li .facebook {
    border-color: #3c5a98;
    text-transform: lowercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    /*line-height: 66px;*/
    color: #fff;
    background: #3c5a98;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

#side-btns li button:disabled {
    -webkit-box-shadow: 0px 3px 0px dimgray, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px dimgray, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px dimgray, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    background-color: darkgray;
    top: 6px;
}

.details-btn {

    background: transparent;
    border: none;
/*    position: absolute;
    z-index: 5;
    bottom: 15%;*/
}

.details-btn p {
    color: black;
    vertical-align: middle;
    position: absolute;
    z-index: 6;
    bottom: 10px;
    margin-left: 40px
}

.details-btn img{
    width: 200px;
}








