@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
	content: "\e600";
}
.icon-pacman:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-bubbles:before {
	content: "\e603";
}
.icon-books:before {
	content: "\e604";
}
.icon-compass:before {
	content: "\e605";
}

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

body {
    background: #444;
    color: #48a770;
    font-weight: 400;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: #48a770;
    outline: none;
}

a:hover, a:focus {
    color: #2c774b;
    outline: none;
    text-decoration: none;
}

#menu_btn {
    border: none;
    background: rgb(102, 147, 124);
    color: #fff;
    font-family: 'Oswald';
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 2em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

#menu_btn:focus {
    outline: none;
}

#menu_btn:hover {
    background: rgb(91, 131, 110);
}

#profile-pic {
    position: relative;
    width: 50%;
    left: 25%;
    margin: 0 auto;
}

#user-name {
    position: relative;
    border-top: 0.1em solid rgb(102, 147, 124);
    color: #000;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-top: 0.1em;
}

.st-content {
    overflow-y: scroll;
    background: #FFF;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #000000;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s, 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s, 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: rgb(102, 147, 124);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.st-effect-1.st-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.st-effect-1 .st-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

.st-effect-1.st-menu-open .st-pusher {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);	
}

.st-effect-1.st-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);	
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);	
}

.st-effect-1.st-menu::after {
	display: none;	
}


/* -------------------------------------------------------------
======	MEDIA QUERIES
------------------------------------------------------------- */

/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 13 / 780 */
    #user-name {
        border-top: 0.1em solid rgb(102, 147, 124);
    }
}
    
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 13 / 624 */
    #user-name {
        font-size: 3em;
        border-top: 0.2em solid rgb(102, 147, 124);
    }
}
    
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 13 / 390 */
    #user-name {
        width: 75%;
        font-size: 2em;
        border-top: 0.3em solid rgb(102, 147, 124);
    }
}