@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body { font-family: "Open Sans"; font-weight: 400; background-color: #EEE; }


.category ul { display:table; margin:0 auto; }
.category ul li { display:table-cell; padding: 0px 10px}


.st-content-inner div {
    width: 100%;
}
.category {
    border-bottom: 2px solid rgb(102, 147, 124);
    color: #000;
    padding: 10px;
    background-color:white;
    overflow-x: scroll;
}

.category h4 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.category p {
    font-family: "Open Sans";
    font-weight: 400;
    width: 100%;
}

.sub-category {
    text-align: center;
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

.sub-category:hover {
    cursor: pointer;
}

.sub-category img {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.sub-category figcaption {
    font-size: 1.2em;
    line-height: 1em;
    padding-top: 0.5em;
}

.business {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0.25em;
}

.business:hover {
    cursor: pointer;
}

.business img {
    width: 90px;
    height: 90px;
    float: left;
}

.business header {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    text-align:left;
    color: rgb(102, 147, 124);
}

.business figcaption {
    color: #000;
    padding-left: 1em;
    text-align: left;
    height: 7em;
    overflow: hidden;
}
.business a {
    color: rgb(102, 147, 124);
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
}
.btn-see-more{
    background-color: rgb(102, 147, 124);
    border-color: rgb(102, 147, 124);
    color: white;
    float: left;
}
/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 13 / 780 */
    .category {
        width: 100%;
    }
}

/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em){
    .category{
        width: 100%;
    }
    .sub-category{width: 100%;}
    .business figcaption {
        width: 80%;
    }
}

/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em){
    .category{
        width: 100%;
    }
    .sub-category{width: 100%;}
    .business img{
        width: 50px;
        height: 50px;
    }
    .business figcaption {
        width: 80%;
    }
}
