/* line 260, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.2/";
}

/* line 264, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 269, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 274, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 279, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 284, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 289, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 296, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 301, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 306, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 309, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 322, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 327, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 333, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

ul {
  margin-left: 0;
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 339, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 340, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 116, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 117, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 341, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 347, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 350, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 360, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 363, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Image Thumbnails */
/* line 61, ../bower_components/foundation/scss/foundation/components/_thumbs.scss */
.th {
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}
/* line 51, ../bower_components/foundation/scss/foundation/components/_thumbs.scss */
.th:hover, .th:focus {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
}
/* line 65, ../bower_components/foundation/scss/foundation/components/_thumbs.scss */
.th.radius {
  border-radius: 3px;
}

/* .main-section {
    height: calc(100vh - 2.8125rem);
} */
/* line 7, ../scss/adplayer.scss */
.inner-wrap {
  background-color: #333333;
  height: 100vh;
}

/* .tab-bar {
  background: #66937c;
}

.left-off-canvas-menu {
  background: #66937c;
} */

.fa-arrow-left {
  color: white;
}

.ad-pages {
  margin-bottom: 0;
  list-style: none;
}

/* line 12, ../scss/adplayer.scss */
.ad-page {
  background-color: #FFF;
  border-radius: 5px;
}
.ad-page-img {
  display: block;
  margin: auto;
  max-height: 70vh;
}
/* line 17, ../scss/adplayer.scss */
 .landscape {
  height: 93vh !important;
}

.portrait {
  height: 80vh !important;
} 

/* line 22, ../scss/adplayer.scss */
.slide-5 {
  background-color: #FFF;
}

/* line 26, ../scss/adplayer.scss */
.narrator-row {
  height: 20%;
  width: 100%;
  bottom: 0;
  position: absolute;
}
/* line 31, ../scss/adplayer.scss */
.narrator-row.landscape {
  height: 25%;
}

.narrator-img {
  max-height: 20vh;
}

/* line 36, ../scss/adplayer.scss */
.page-text {
  background-color: #FFF;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  line-height: normal;
  font-size: 14px;
}

/* line 45, ../scss/adplayer.scss */
.slide-buttons {
  margin-top: 10px;
  margin-left: 10px;
}

/* line 49, ../scss/adplayer.scss */
.slide-btn {
  text-align: center;
  font-size: 1rem;
  word-wrap: break-word;
  background: white;
  border-radius: 10px;
  border: solid 3px #333333 !important;
  line-height: 100%;
  display: inline-block;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/* line 51, ../bower_components/foundation/scss/foundation/components/_thumbs.scss */
.slide-btn:hover, .slide-btn:focus {
  box-shadow: 0 0 6px 1px #006863;
}
/* line 69, ../scss/adplayer.scss */
.slide-btn i {
  color: #FFF;
}

/* line 74, ../scss/adplayer.scss */
.slide-buttons-landscape {
  text-align: center;
}

/* line 78, ../scss/adplayer.scss */
.page-icon {
  border-radius: 10px;
}
video {
  max-width: 100%;
  max-height: 60%;
}

/* line 82, ../scss/adplayer.scss */
.like-button {
  text-align: center;
}

/* line 87, ../scss/adplayer.scss */
.slide-btn.active {
  border: solid 3px #006863 !important;
}

/* line 92, ../scss/adplayer.scss */
.favorite-landscape {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.favorite {
  color: gray;
}

.favorite.favorited {
  color: red;
}

.icon-text {
  display: table;;
  height: 100%;
  width: 100%;
}

.icon-text div {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
}

@media only screen and (max-width: 30em) {

  .icon-text div {
    font-size: 8px;
  }

  }

.details-icon {
  position: absolute;
  top: 75%;
  height: 25px;
  widows: 25px;
}
.modal-close-button {

  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;

}

/* line 99, ../scss/adplayer.scss */
footer {
  background: #000;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10vh;
}

a,a:hover,a:click, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
