/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:34d22e1042e4284ddf1f12e07c687149:3093c3913bb49fb228e11f0532c13d2b:b70c713ea7fb13202a7c402eeeb063f3$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(spritesheet.png);}

.accident-and-personal-injury {width:128px; height:128px; background-position: -1664px -896px}
.accountants {width:128px; height:128px; background-position: -1664px -768px}
.accupuncture {width:128px; height:128px; background-position: -1920px -640px}
.addiction-treatment {width:128px; height:128px; background-position: -1792px -640px}
.adv_samples {width:256px; height:256px; background-position: -0px -0px}
.airline-tickets {width:128px; height:128px; background-position: -1664px -640px}
.allergies {width:128px; height:128px; background-position: -1536px -1024px}
.ambulance {width:128px; height:128px; background-position: -1536px -896px}
.amusement-parks {width:128px; height:128px; background-position: -1536px -768px}
.antiques {width:128px; height:128px; background-position: -1536px -640px}
.apartment---house-insurance {width:128px; height:128px; background-position: -1920px -512px}
.apartments {width:128px; height:128px; background-position: -1792px -512px}
.appliances {width:128px; height:128px; background-position: -1664px -512px}
.art-galleries {width:128px; height:128px; background-position: -1536px -512px}
.athletic {width:128px; height:128px; background-position: -1408px -896px}
.athletic-shoes {width:128px; height:128px; background-position: -1408px -1024px}
.attorneys {width:128px; height:128px; background-position: -1408px -768px}
.audio-home-theatre-system {width:128px; height:128px; background-position: -1408px -640px}
.audio-systems {width:128px; height:128px; background-position: -1408px -512px}
.audiology {width:128px; height:128px; background-position: -1920px -384px}
.auto-body-and-collision-repair {width:128px; height:128px; background-position: -1792px -384px}
.automobile-insurance {width:128px; height:128px; background-position: -1664px -384px}
.autos {width:128px; height:128px; background-position: -1536px -384px}
.banks-and-credit-unions {width:128px; height:128px; background-position: -1408px -384px}
.bbq {width:128px; height:128px; background-position: -1280px -1024px}
.bed-and-breakfast {width:128px; height:128px; background-position: -1280px -896px}
.bedroom {width:128px; height:128px; background-position: -1280px -768px}
.big-box-stores {width:128px; height:128px; background-position: -1280px -640px}
.body-art {width:128px; height:128px; background-position: -1280px -512px}
.building-materials {width:128px; height:128px; background-position: -1280px -384px}
.bus-tickets {width:128px; height:128px; background-position: -1920px -256px}
.campgrounds {width:128px; height:128px; background-position: -1792px -256px}
.campus-security {width:128px; height:128px; background-position: -1664px -256px}
.cards-and-gifts {width:128px; height:128px; background-position: -1536px -256px}
.carpenters {width:128px; height:128px; background-position: -1408px -256px}
.casual {width:128px; height:128px; background-position: -1280px -256px}
.check-cashing---pay-day-loans {width:128px; height:128px; background-position: -1152px -1024px}
.chiropractors {width:128px; height:128px; background-position: -1152px -896px}
.clothing-stores {width:128px; height:128px; background-position: -1152px -768px}
.coffees-and-teas {width:128px; height:128px; background-position: -1152px -640px}
.community-places {width:128px; height:128px; background-position: -1152px -512px}
.community-services {width:128px; height:128px; background-position: -1152px -384px}
.computers-laptops-tablets {width:128px; height:128px; background-position: -1152px -256px}
.contractors {width:128px; height:128px; background-position: -1920px -128px}
.cosmetics {width:128px; height:128px; background-position: -1792px -128px}
.counseling-and-mental-health {width:128px; height:128px; background-position: -1664px -128px}
.cruises {width:128px; height:128px; background-position: -1536px -128px}
.delis {width:128px; height:128px; background-position: -1408px -128px}
.dentists {width:128px; height:128px; background-position: -1280px -128px}
.dermatology {width:128px; height:128px; background-position: -1152px -128px}
.diner {width:128px; height:128px; background-position: -1024px -1024px}
.ears,-nose-and-throat {width:128px; height:128px; background-position: -1024px -896px}
.electrical-sevices {width:128px; height:128px; background-position: -1024px -768px}
.electricians {width:128px; height:128px; background-position: -1024px -640px}
.emergency-medical {width:128px; height:128px; background-position: -1024px -512px}
.exterior-bling {width:128px; height:128px; background-position: -1024px -384px}
.exterior-decor {width:128px; height:128px; background-position: -1024px -256px}
.family-practive {width:128px; height:128px; background-position: -1024px -128px}
.fast-food {width:128px; height:128px; background-position: -1920px -0px}
.financial-planning-advisors {width:128px; height:128px; background-position: -1792px -0px}
.fire {width:128px; height:128px; background-position: -1664px -0px}
.fitness {width:128px; height:128px; background-position: -1536px -0px}
.formal-and-wedding {width:128px; height:128px; background-position: -1408px -0px}
.government {width:128px; height:128px; background-position: -1280px -0px}
.guest-houses-and-hostels {width:128px; height:128px; background-position: -1152px -0px}
.gyn {width:128px; height:128px; background-position: -1024px -0px}
.hair-salons {width:128px; height:128px; background-position: -896px -1024px}
.handyman {width:128px; height:128px; background-position: -896px -896px}
.health-fitness-and-beauty {width:128px; height:128px; background-position: -896px -768px}
.herbal-medicine {width:128px; height:128px; background-position: -896px -640px}
.hospital {width:128px; height:128px; background-position: -896px -512px}
.hotels-and-motels {width:128px; height:128px; background-position: -896px -384px}
.house-cleaning {width:128px; height:128px; background-position: -896px -256px}
.houses {width:128px; height:128px; background-position: -896px -128px}
.indoor-sports {width:128px; height:128px; background-position: -896px -0px}
.indoor-sports-faclilties {width:128px; height:128px; background-position: -896px -0px}
.insurance {width:128px; height:128px; background-position: -768px -1024px}
.interior-bling {width:128px; height:128px; background-position: -768px -896px}
.interior-decor {width:128px; height:128px; background-position: -768px -768px}
.jazz-and-blues {width:128px; height:128px; background-position: -768px -640px}
.lastik-surgery {width:128px; height:128px; background-position: -768px -512px}
.limos {width:128px; height:128px; background-position: -768px -384px}
.liquor {width:128px; height:128px; background-position: -768px -256px}
.local-tours {width:128px; height:128px; background-position: -768px -128px}
.mall {width:128px; height:128px; background-position: -768px -0px}
.massage-therapy {width:128px; height:128px; background-position: -640px -1024px}
.medical {width:128px; height:128px; background-position: -640px -896px}
.movers-and-moving-companies {width:128px; height:128px; background-position: -640px -768px}
.moving-boxes-and-supplies {width:128px; height:128px; background-position: -640px -640px}
.nightclub {width:128px; height:128px; background-position: -640px -512px}
.nutritionists {width:128px; height:128px; background-position: -640px -384px}
.nutritionists2 {width:128px; height:128px; background-position: -640px -256px}
.optometry {width:128px; height:128px; background-position: -640px -128px}
.outdoor-furniture-and-appliances {width:128px; height:128px; background-position: -640px -0px}
.outdoor-sports {width:128px; height:128px; background-position: -512px -1024px}
.outlet-stores {width:128px; height:128px; background-position: -512px -896px}
.overnight-delivery-services {width:128px; height:128px; background-position: -512px -768px}
.paint-and-wall-coverings {width:128px; height:128px; background-position: -512px -640px}
.painters {width:128px; height:128px; background-position: -512px -512px}
.petshop {width:128px; height:128px; background-position: -512px -384px}
.physical-therapy {width:128px; height:128px; background-position: -512px -256px}
.physicians {width:128px; height:128px; background-position: -512px -128px}
.pizza {width:128px; height:128px; background-position: -512px -0px}
.pods-mobile-storage {width:128px; height:128px; background-position: -384px -1024px}
.poison-control {width:128px; height:128px; background-position: -384px -896px}
.police {width:128px; height:128px; background-position: -384px -768px}
.post-office {width:128px; height:128px; background-position: -384px -640px}
.power-tools {width:128px; height:128px; background-position: -384px -512px}
.radiatior-and-cooling-systems {width:128px; height:128px; background-position: -384px -384px}
.realtors {width:128px; height:128px; background-position: -384px -256px}
.religious-worship {width:128px; height:128px; background-position: -384px -128px}
.rental-moving-trucks {width:128px; height:128px; background-position: -384px -0px}
.resorts {width:128px; height:128px; background-position: -256px -1024px}
.restaurants {width:128px; height:128px; background-position: -256px -896px}
.second-consignment {width:128px; height:128px; background-position: -256px -768px}
.self-storage-facilities {width:128px; height:128px; background-position: -256px -640px}
.shoes {width:128px; height:128px; background-position: -256px -512px}
.shop {width:128px; height:128px; background-position: -256px -256px}
.shop-tools {width:128px; height:128px; background-position: -256px -384px}
.snail-mail {width:128px; height:128px; background-position: -256px -128px}
.speech-therapy {width:128px; height:128px; background-position: -256px -0px}
.sports-medicine {width:128px; height:128px; background-position: -128px -1024px}
.tanning-waxing {width:128px; height:128px; background-position: -128px -896px}
.tattoos-and-piercings {width:128px; height:128px; background-position: -128px -768px}
.tax-preparation-services {width:128px; height:128px; background-position: -128px -640px}
.taxis {width:128px; height:128px; background-position: -128px -384px}
.taxis-and-limos {width:128px; height:128px; background-position: -128px -512px}
.thrift-stores {width:128px; height:128px; background-position: -128px -256px}
.ticket-sales {width:128px; height:128px; background-position: -0px -1024px}
.tickets {width:128px; height:128px; background-position: -0px -896px}
.train-tickets {width:128px; height:128px; background-position: -0px -768px}
.urgent-care {width:128px; height:128px; background-position: -0px -640px}
.vaction-rentals {width:128px; height:128px; background-position: -0px -512px}
.vehicle-sales {width:128px; height:128px; background-position: -0px -384px}
.vintage {width:128px; height:128px; background-position: -0px -256px}
