/*----------------------------
	The Form
-----------------------------*/
#main{
	width:50%;
	height: 100%;
	position:relative;
	text-align:center;
	background-color: #fff;
	z-index: 2;
}

#main img {
	width: 150px;
	height: 150px;
}

#main form{
	width:100%;
	height:150px;
	padding-top: 25px;
}

#main form .row{
	position:relative;
}


/*----------------------------
	The Submit Button
-----------------------------*/
#main form input[type=button]{
	
	border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px;    color: #D3EBFF;
    cursor: pointer;
    display: block;
    font: bold 24px Cambria,"Hoefler Text",serif;
    margin: auto;
    padding: 15px 10px 10px 10px;
    width: 50%;
    
	background-color:#0496DA;
}

#main form input[type=button]:hover{
	
	background-color:#0383d3;
}

#main form input[type=button]:active{
	
	background-color:#026fcb;
}

/* -------------------------------------------------------------
======	CUSTOM CLASSES
------------------------------------------------------------- */
.description  {
	padding-left: 2em;
	padding-right: 2em;
	text-align: justify;
}

.desc_title {
	font-size: 1.25em;
}

#error {
	color: #F00;
	font-size: 1.2em;
	margin-top: 3em;
}

.error-visible {
	visibility: visible;
}

.error-hidden {
	visibility: hidden;
}

.shrinker {
	margin: auto;
	margin-bottom: 5px;
	width: 75%;
}
/* -------------------------------------------------------------
====== GRID  https://github.com/mattberridge/Proportional-Grids/
------------------------------------------------------------- */
html, button, input, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555; 
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}
	
.home-page {
	z-index: 2;
	background-color: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container {
  height: 100%;
  position: relative;
  color: #333;
  width: 100%; 
  margin: 0 0 7em 0;
  float: left;
  display: block;
  background-color: #fff;}
 
.grid-wrap {
  margin-left: -0.5em; /* the same as your gutter */
  overflow: hidden;
  *zoom:1;}
  .grid-wrap:before, .grid-wrap:after{content:""; display:table}
  .grid-wrap:after{clear:both}
  
.grid {
  float: left;
  padding-left: 0.5em; /* this is your gutter between columns */
  margin-top: 1em;
  width: 100%;
  height: 88%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/js/boxsizing.htc); }
  
.half-gutter {margin-left: -0.25em; }
  .half-gutter .grid-col {padding-left: 0.25em; }
  
.col-full {width: 100%;}
.col-one-half {width: 50%; }
.col-one-third {width: 33.333%; }
.col-two-thirds {width: 66.666%; }
.col-one-quarter {width: 25%; }
.col-three-quarters {width: 75%; }

.divide-top{border-top: 1px solid #ccc;padding-top: 2em;margin-top: 1.5em; }

.mright{ margin-right: 3em;}
.mleft{ margin-left: 3em;}
.mtop{ margin-top: 3em;}
.mbottom{ margin-bottom: 3em;}
.halfmright{ margin-right: 1.5em;}
.halfmleft{ margin-left: 1.5em;}
.halfmtop{ margin-top: 1.5em;}
.halfmbottom{ margin-bottom: 1.5em;}

.fright, .fleft{display:block; overflow:hidden}
.fright{float:right}
.fleft{float:left}

.alignleft{float: left;clear: left;margin: 0.38em 1.62em 0.38em 0;}
.alignright {float: right;clear: right;margin: 0.38em 0 0.38em 1.62em;}
.aligncenter {margin: 0 auto 1.62em;display: block;}


/* -------------------------------------------------------------
======	MEDIA QUERIES
------------------------------------------------------------- */

/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 13 / 780 */
	.mq1-col-full {width: 100%; }
	.mq1-col-one-half {width: 50%; }
	.mq1-col-one-third {width: 33.333%; }
	.mq1-col-two-thirds {width: 66.666%; }
	.mq1-col-one-quarter {width: 25%; }
	.mq1-col-three-quarters {width: 75%; }
	
	#main form input[type=submit]{
		width: 50%;
	}
	#main { width: 100%; }
	.container { overflow-y: scroll; }
	
	/**/
	h1{font-size: 3.1em;}
	
	.home-page {
		z-index: 0;
		padding: 10px;
		height: 88%;
	}
}
    
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 13 / 624 */
	.mq2-col-full {width: 100%;}
	.mq2-col-one-half {width: 50%; }
	.mq2-col-one-third { width: 33.333%; }
	.mq2-col-two-thirds {width: 66.666%; }
	.mq2-col-one-quarter {width: 25%; }
	.mq2-col-three-quarters {width: 75%; }
	
	#main form input[type=submit]{
		width: 50%;
	}
	#main { width: 100%; }
	.container { overflow-y: scroll; }
}
    
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 13 / 390 */
	.mq3-col-full { width: 100%; }
	.mq3-col-one-half { width: 50%; }
	.mq3-col-one-third { width: 33.333%; }
	.mq3-col-two-thirds { width: 66.666%; }
	.mq3-col-one-quarter { width: 25%; }
	.mq3-col-three-quarters { width: 75%; } 
	.mq3-none {display: none;}
	
	body {
		overflow-y: scroll;
	}
	
	.home-page {
		height: 100%;
	}
	
	.shrinker {
		width: 75%;
	}
	
	#main form input[type=submit]{
		width: 50%;
		margin: auto;
	}
	
	#main { width: 100%; }
	.container { overflow-y: scroll; }
}