.upcoming-events {
    width: 90%;
    margin: 0 auto;
    height: 50%;
    float: none;
}

.upcoming-events > h1 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5em;
    color: #686a6e;
    text-align: right;
    text-transform: uppercase;
}

.nothing-here {
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    color: #686a6e;
    font-style: italic;
}

.nothing-here h1 {
    font-size: 1.25em;
    font-family: 'Open Sans';
}

.sign-out {
    text-align: center;
    margin: 0 auto;
}

.sign-out a {
    color: rgb(0, 117, 111);
}

.sign-out a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu_btn {
    background: rgb(0, 117, 111);
}

#menu_btn:hover {
    background: rgb(0, 117, 111);
}

.back_button {
    background: rgb(0, 117, 111);
}

.back_button:hover {
    background: rgb(0, 117, 111);
}

.st-menu {
    background: rgb(0, 117, 111);
}

.st-container {
    color: rgb(0, 117, 111);
}

#profile-pic {
    position: relative;
    width: 50%;
    left: 25%;
    margin: 0 auto;
}

#user-name {
    position: relative;
    border-top: 0.1em solid rgb(0, 117, 111);
    color: #000;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-top: 0.1em;
}

.pin-div {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-top: 15%;
    width: 50%;
    left: 25%;
}

.pin-div h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.journals {
    position: relative;
    height: 100%;
    visibility: hidden;
}

.journal {
    border-bottom: 0.1em solid rgb(0, 117, 111);
    color: #000;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.journal h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(0, 117, 111);
}

.journal h6 {
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
}

.input-group {
    margin-top: 2em;
}

.input-group textarea {
    resize: none;
    width: 5px;
    height: 10em;
}

.preferences {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    margin-top: 5%;
    width: 75%;
}

.preferences h1 {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
}

.ac-custom ul,
.ac-custon ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.ac-custom li {
    text-align: left;
    margin: 0 auto;
    padding: 2em 0;
    position: relative;
    background-color: rgb(0, 117, 111);
    border-bottom: 3px solid #FFF;
}

.ac-custom label {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
	-webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 1%;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"] {
    opacity: 0;
	-webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}

.ac-custom label::before {
    content: '';
    border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label {
    color: #fff;
}

.ac-custom input[type="checkbox"]:checked + label::before {
    opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 49%;
	margin-top: -20px;
	left: 1.5%;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 10px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle label::before {
	background-color: #fff;
	border: none;
}

/*----------------------------
	The Submit Button
-----------------------------*/
.pin-div form input[type=button]{
	
	border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px; color: #D3EBFF;
    cursor: pointer;
    display: block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    margin: 1em auto auto auto;
    color: #FFF;
    padding: 10px 10px 10px 10px;
    width: 50%;
    background: rgb(0, 117, 111);
}

.pin-div form input[type=button]:hover{
    background: rgb(0, 104, 99);
}

.pin-div form input[type=button]:active{
    background: rgb(0, 104, 99);
}

.general-button {
    visibility: hidden;
}
/* -------------------------------------------------------------
======	MEDIA QUERIES
------------------------------------------------------------- */

/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 13 / 780 */
    #user-name {
        border-top: 0.1em solid rgb(0, 117, 111);
    }
	
	.pin-div input[type=button]{
	    margin-top: 3em;
		width: 100%;
	}
}
    
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 13 / 624 */
    #user-name {
        font-size: 3em;
        border-top: 0.2em solid rgb(0, 117, 111);
    }

    .pin-div h1 {
        font-size: 2em !important;    
    }
	
	.pin-div input[type=button]{
	    margin-top: 3em;
		width: 100%;
	}
    
    .preferences {
        width: 90%;
    }

    .ac-custom label {
        font-size: 1.5em;
        padding: 0 0 0 70px;
    }

    .ac-custom input[type="checkbox"],
    .ac-custom label::before {
	    width: 40px;
	    height: 40px;
	    left: 10px;
	    margin-top: -15px;
    }

    .ac-custom label::before {
        border: 2px solid #fff;
    }

    /* General SVG and path styles */

    .ac-custom svg {
	    width: 40px;
	    height: 40px;
	    left: 12px;
	    margin-top: -15px;
    }

    .ac-custom svg path {
	    stroke-width: 6px;
    }
}
    
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 13 / 390 */
    #user-name {
        width: 75%;
        font-size: 2em;
        border-top: 0.3em solid rgb(0, 117, 111);
    }

	.pin-div form input[type=button]{
		width: 100%;
		margin-top: 0.5em;
	}
    
    .preferences {
        width: 90%;
    }

    .ac-custom label {
        font-size: 1em;
        padding: 0 10px 0 70px;
    }

    .ac-custom input[type="checkbox"],
    .ac-custom label::before {
	    width: 30px;
	    height: 30px;
	    left: 10px;
	    margin-top: -15px;
    }

    .ac-custom label::before {
        border: 2px solid #fff;
    }

    /* General SVG and path styles */

    .ac-custom svg {
	    width: 30px;
	    height: 30px;
	    left: 12px;
	    margin-top: -15px;
    }

    .ac-custom svg path {
	    stroke-width: 6px;
    }
}